/* Extra Code */

/* Make Text Fade Out At Bottom */
.section-content {
	-webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 105%);
	mask-image: linear-gradient(to bottom, black 95%, transparent 105%);
	height: 95vh;
	width: 100%;
	overflow-y: scroll;
}
/* Darken image */
.tinted { opacity: 0.8; }
/* Center Image & Add Margin */
 .top-image {display: block; margin-left: auto; margin-right: auto; width: 90%;} 
/* <!-- <img class="top-image" src="./IMG/BG_ESPACE.jpg" alt="Atelier d'artiste" max-width="100%" height="auto"> --> */