/* * {box-sizing: border-box;} */

ul {
	display: flex;
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: fixed;
}

li {
	flex: 1;
	display: flex;
	align-items: stretch;
	padding: 0;
	background: #fff; /* #121212; */
	cursor: pointer;

	transition: all .35s ease-out; 
	
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

li:not(.active):hover { filter: invert(100%); } 

div.splash > .main-content > img {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: auto;
 }

li.active {
	flex: 9;
	cursor: default;
}

li.active .section-title { flex: 1; background: #fff; filter: invert(100%);}

li.active .section-content {
	flex: 8;
	transform: scaleX(1);	
}

li .section-title {
	flex: 1; /* 0.9 */
	display: flex;
	width: auto; 
	margin: 0;
	/* padding: 0.5rem 0.25rem; */
	color: white;
	overflow: visible;
	z-index: 100;
	align-items: flex-end;
}

li .section-content {
	flex: 9;
	display: flex;
	align-items: top;
	margin: 0;
	padding: 0;
	transition: all .25s .1s ease-out;
	overflow: auto;
	z-index:80;
	justify-content: center;
}

.main-content { padding: 2.611111rem; width: 100%; max-width: 560px;}

li.active.Espace230 > .section-title { 
	display: none; 
	/* transition: all .25s .1s ease-out; */
}

li:not(.active) .section-content { 
	display: none; 
	/* transition: all .25s .1s ease-out; */
}


.flex-social {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	align-content: center;
}
.flex-social-item {
	/* flex: 0 1 auto; */
	flex-direction: row;
	align-self: flex-start;
	/* margin: 10px; */
	/* flex-wrap: nowrap; */
}	

/* .flex-social-item .columned {
	flex-direction: column;
	flex-wrap: nowrap;
	
} */



@media screen and (max-width: 768px) {
	html, .root { font-size: 13px; }
	h1, .h1 { 
		letter-spacing: -0.1rem; 
		margin-top: 1.6111111rem;
		margin-bottom: 1.6111111rem;
		}
		.mobile-hidden { visibility: hidden; }
	}
	
@media screen and (orientation: landscape) {
	/* i.active > div.section-content > .main-content { padding-top: 2rem; } */
	.section-title { padding-bottom: 0.5rem; }
}
@media screen and (orientation: landscape) and (max-width: 568px) {
	li.active > div.section-content > .main-content { padding-top: 1.8rem; }
	h1, .h1 { 
		font-size: 2.6111111rem;
		line-height: 3.2222222rem;
		margin-top: 1.6111111rem;
		margin-bottom: 1.6111111rem;
	} 
}

@media screen and (orientation: portrait) {
	ul { flex-direction: column; margin-top: 1rem;}
	div.splash > .main-content > img { bottom: 1rem; }
	li.active .section-title { display: none; }
	li.active {order:5;}
	.main-content { padding: 1.125rem; }

	h1, .h1 { 
		font-size: 2.6111111rem;
		line-height: 3.2222222rem;
		margin-top: 1.6111111rem;
		margin-bottom: 1.6111111rem;
	} 

	img .name {
		height: 100%;
		width: 100%;
    	object-fit: contain;
    	overflow: hidden;
	}

	li:not(.active) {
		display: block;
		min-height: 5.5vh;
		max-height: 5.5vh;
		}

	li .section-title img {
		transform-origin: top left;
		transform: rotate(90deg) translateY(-100%) translateY(-1em);
		max-width: 10%;
		} 
	/* li.Events .section-title img { margin-top: -4px; }  */
	}
@media screen and (orientation: portrait) and (max-width:768px) {
	li:not(.active) {
		min-height: 2.25rem;
		max-height: 5.5vh;
		}
		div.splash > .main-content > img {
		width: 66%;
		}
	}

@media screen and (orientation: portrait) and (min-width:768px) {
li:not(.active) {
	min-height: 5.5vh;
	max-height: 7vh;
	/* margin-top: -0.5vh; */
	}
}
	

/* button .comment { display: none; }
button:hover .button-price { display: none; }
button:hover .button-buy { display: inline; } */