/* * {box-sizing: border-box;} */

ul {
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

li {
	flex: 1;
	display: flex;
	align-items: stretch;
	padding: 0px;
	background: #212121;
	cursor: pointer;
	transition: all .5s ease;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

li:not(.active):hover {
	flex: 1.12;
}

li.active {
	flex: 10;
	background: #fff;
	cursor: default;
}
li.active .section-title {filter: invert(100%)}


li.active .section-content {
	flex: 9;
	opacity: 1;
	transform: scaleX(1);
	/* color: #212121; */
	
}

li .section-title {
	flex: 1;
	display: flex;
	width: auto; 
	margin: 0;
	padding: 0 0.25rem 1rem 0;
	color: white;
	overflow: visible;
	z-index: 100;
	align-items: flex-end;
	/* align-items: flex-start; padding-top: 1.25rem; */
}

li .section-content {
	flex: 9;
	display: flex;
	align-items: top;
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: all .25s .1s ease-out;
	overflow: auto;
	z-index:80;
	justify-content: center;
}

.main-content {padding: 1.66666rem; max-width: 560px;}

li:not(.active) .section-content { display: none; }

@media screen and (orientation: portrait) {
	
	ul {flex-direction: column;}
	li.active .section-title { display:none; }

	img .name {
		height: 100%;
		width: 100%;
    object-fit: contain;
    overflow: hidden;
	}
	
	li:not(.active){
			display: block;
			min-height: 7vh;
			max-height: 7vh;
			}
	
	li .section-title img {
		transform-origin: top left;
		transform: rotate(90deg) translateY(-100%) translateY(-1em);
		max-width:12%;
		}
	 
	}