/* * {box-sizing: border-box;} */

ul {
	display: flex;
	min-height: 100vh;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

li {
	flex: 1;
	display: flex;
	align-items: stretch;
	padding: 0px;
	background: #242424;
	cursor: pointer;
	transition: all .5s ease;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

li:not(.active):hover {
	filter: contrast(120%);
	-webkit-filter: contrast(120%);
}

li.active {
	flex: 9;
	background: #fff;
	cursor: default;
}
li.active .section-title {filter: invert(100%)}


li.active .section-content {
	flex: 8;
	opacity: 1;
	transform: scaleX(1);
	color: #121212;
}

li .section-title {
	flex: 1;
	display: flex;
	width: auto; 
	margin: 0;
	padding: 0;
	color: white;
	overflow: visible;
	z-index: 100;
	align-items: flex-end;
	/* align-items: flex-start; padding-top: 1.25rem; */
}

li .section-content {
	flex: 8;
	display: flex;
	align-items: top;
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: all .25s .1s ease-out;
	overflow: auto;
	z-index:80;
}

.inside-padding { padding: 1.66666rem; }

li:not(.active) .section-content { display: none; }

/* Increase h1 lettering contrast */
/* .section-title img{
	filter: drop-shadow(0.1px 0.1px 0px #ccc) drop-shadow(-0.1px 0.1px 0px #ccc) drop-shadow(0.1px -0.1px 0px #ccc) drop-shadow(-0.1px -0.1px 0px #ccc);
	} */


@media screen and (orientation: portrait) {
	
	ul {flex-direction: column;}
	li.active .section-title { display:none; }

	img .name {
		height: 100%;
		width: 100%;
    object-fit: contain;
    overflow: hidden;
	}
	
	li:not(.active){
			display: block;
			min-height: 11vh;
			max-height: 11vh;
			}
	
	li .section-title img {
		transform-origin: top left;
		transform: rotate(90deg) translateY(-100%) translateY(-1em);
		max-width:20%;
		}
	 
	}
