/* NOTE Font Inter Size 18px line-Height 1.6 Scale Factor 1.414 */
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	font-kerning: normal;
	overscroll-behavior: none;
	overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, .root {
	font-size: 18px;
	line-height: 29px;
}
body, .article {
	font-size: 1rem;
	line-height: 1.6111111rem;
	margin: auto;
}
h1, .h1 {
	font-size: 4.8333333rem;
	/* font-size: 4.2222222rem; */
	line-height: 4.8333333rem;
	/* margin-top: 1.6111111rem; */
	/* margin-bottom: 3.2222222rem; */
	margin-top: 3.2222222rem;
	margin-bottom: 1.6111111rem;
	letter-spacing:-0.06rem;
}
h2, .h2 {
	font-size: 2.6111111rem;
	line-height: 3.2222222rem;
	margin-top: 1.6111111rem;
	margin-bottom: 1.6111111rem;
	letter-spacing:-0.05rem;
}
h3, .h3 {
	font-size: 1.6111111rem;
	line-height: 1.6111111rem;
	margin-top: 1.6111111rem;
	margin-bottom: 1.6111111rem;
	letter-spacing:-0.075rem;
}
.hx-inline {
	font-size: 1.6111111rem;
	vertical-align: middle;
}
h4, .h4 {
	font-size: 1rem;
	line-height: 1.6111111rem;
	margin-top: 1.6111111rem;
	margin-bottom: 0rem;
	font-weight: 900;
}
h5, .h5 {
	color: #771111; /* #0F1E4E; */
	/* color: #484848; */
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 0.722rem;	
	line-height: 1.6111111rem;
	margin-top: 1.6111111rem;
	margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
	margin-top: 0rem;
	margin-bottom: 1.6111111rem;
}
ul ul, ol ol, ul ol, ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

/* COSMETICS */

h1 {font-family: 'Anton', sans-serif; color: #121212; }
body, h2, h3, h4, article, p, ul, ol {font-family: 'Inter', sans-serif; color: #242424;}
a {font-weight: 600; color:#092c79; text-decoration: none;}
.fa, .sa {color: #444;} 


a:hover {color: #0047ab; transition: 0.3s;}
.fa:hover, .sa:hover {color: #848484; transition: 0.3s;}
h2, .h2, h3, strong {font-weight: 800;}

/* Align Everything Else */
hr, .hr { border: 1px solid; margin: -2px 0; }
a, b, i, strong, em, small, code {line-height: 1rem;}

/* Tweaks */
.highlight {font-weight: 600;}
.nowrap {white-space: nowrap;}
.no-bottom-margin {margin-bottom: 0;}
.no-top-margin {margin-top: 0;}
.half-bottom-margin {margin-bottom: 0.722rem;}
.half-top-margin {margin-top: 0.722rem;}
.no-margins {margin-top: 0; margin-bottom: 0;}

/* Artwork Descriptions */
.author {font-weight: 600;}
.title {font-weight: 800;}
.artwork {margin-top: 0; margin-bottom: 0;}
/* .acquire {float: right; line-height: inherit;}
.acquire:hover .price {display: none;}
.acquire:hover:before {content:"Acheter ->"; color:#092c79;} */


.img-frame {border: 1px solid #a4a4a4;}

.button { 
	border: 2px solid #121212;/*  #626262 #0047ab; #092729 */
	background: #121212;  /* #626262  #0F1E4E */
	color: #fff;
	/* background: #fff; 
	color: #121212; */
	border-radius: 4px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:0.1px;
	font-size: 14px;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	padding: 16px 30px;
	margin: 0;
	cursor: pointer;
	transition: 0.3s;
}


.button:hover {border: 2px solid #848484; background: #848484; color:#fdfdff; transition: 0.3s;}
/* button:hover {border: 2px solid #092c79; background: #092c79; color:#fdfdff; transition: 0.3s;} */
/* button:hover {border: 2px solid #121212; background: #121212; color:#fff; transition: 0.3s;}  */
/* button:hover {border: 2px solid #2B59C3; background: #2B59C3; color:#fdfdff; transition: 0.3s;} #0F1E4E */

.button-white { 
	border: 2px solid #121212;/*  #626262 #0047ab; #092729 */
	background: #fff;  /* #626262  #0F1E4E */
	color: #121212;
}
.button-white:hover {
	border: 2px solid #121212; 
	background: #121212; 
	color:#fff; transition: 0.3s;
}

.button-buy {
	margin-top: 1.6111111rem; 
	margin-bottom: 1.6111111rem; 
	display: inline-block;
	float: left;
	width: 132px;
}

/* 
.button-buy:hover .button-price { display:none; }
	.button-buy:hover:before { content:"ACHETER"; } 
 .button-buy:hover {
	border: 2px solid #121212; 
	background: #fff; 
	color:#121212; transition: 0.3s;
} */


sub, sup {
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
	}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

.copy { font-size: 0.722rem; font-weight: 600; }





.grid-opening-hours {
	display: grid;
	grid-template-rows: repeat(2, 1fr); 
	grid-column-gap: 0.75rem;
	grid-row-gap: 0; 
	grid-template-areas: "grid-open hours" "grid-rdv rdv";
	justify-content: flex-start;
}
.grid-open { grid-area: grid-open; font-weight:700; }
.hours { grid-area: hours; }
.grid-rdv { grid-area: grid-rdv; font-weight:700; }
.rdv { grid-area: rdv; }


/* COLOUR REFERENCE */
/* Cerulean Blue #2B59C3 */
/* Catalina Blue #092c79 */
/* Cobalt Blue #0047ab */
/* Prussian Green #092729 */
/* #0047ab / #092729 / #135813 */
