/* NOTE Font Inter Size 18px line-Height 1.6 Scale Factor 1.414 */

html, .root {
	font-size: 18px;
	line-height: 29px;
}
body, .article {
	font-size: 1rem;
	line-height: 1.6111111rem;
	margin: auto;
}
h1, .h1 {
	font-weight: 700;
	font-size: 4.2222222rem;
	line-height: 4.8333333rem;
	margin-top: 1.6111111rem;
	margin-bottom: 3.2222222rem;
}
h2, .h2 {
	font-size: 2.6111111rem;
	line-height: 3.2222222rem;
	margin-top: 1.6111111rem;
	margin-bottom: 1.6111111rem;
	letter-spacing:-0.1rem;
}
h3, .h3 {
	font-size: 1.6111111rem;
	line-height: 1.6111111rem;
	margin-top: 1.6111111rem;
	margin-bottom: 1.6111111rem;
	letter-spacing:-0.075rem;
}
.h3-inline {
	font-size: 1.6111111rem;
	vertical-align: middle;
	}
h4, .h4 {
	font-size: 1rem;
	line-height: 1.6111111rem;
	margin-top: 1.6111111rem;
	margin-bottom: 0rem;
}
h5, .h5 {
	color: #484848; /* #0F1E4E; */
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 0.722rem;	
	line-height: 1.6111111rem;
	margin-top: 1.6111111rem;
	margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
	margin-top: 0rem;
	margin-bottom: 1.6111111rem;
}
ul ul, ol ol, ul ol, ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

/* Cosmetics */
h1, h2 {font-family: 'Anton', sans-serif; color: #121212;}
body, h3, h4, article, p, ul, ol {font-family: 'Inter', sans-serif; color: #242424;}
h3 {font-weight: 800;}
h4 {font-weight: 900;}

.no-bottom-margin {margin-bottom: 0;}
.no-top-margin {margin-top: 0;}
.half-bottom-margin {margin-bottom: 0.722rem;}
.half-top-margin {margin-top: 0.722rem;}

a {font-family: 'Inter', sans-serif; font-weight: 600; color:#092c79; text-decoration: none;}

/* Cerulean Blue #2B59C3 */
/* Catalina Blue #092c79 */
/* Cobalt Blue #0047ab */
/* Prussian Green #092729 */
/* #0047ab / #092729 / #135813 */
/* a:not(.fa) {color: #0F1E4E;} */
.fa, .sa {color: #545454;}
a:hover, .fa:hover {color: #0047ab; transition: 0.3s;}

.nowrap {white-space: nowrap;}
.highlight {font-weight: 600;}
strong {font-weight: 800;}

/* Align Everything Else */
hr, .hr { border: 1px solid; margin: -1px 0; }
a, b, i, strong, em, small, code {line-height: 1rem;}

/* Extra */
button { 
	border: 2px solid #626262;
	/* #0047ab; #092729 */
	border-radius: 4px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:0.1px;
	background: #626262;  /* #0F1E4E */
	color: #fdfdfd;
	font-size: 14px;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	padding: 16px 30px;
	margin: 0;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {border: 2px solid #2B59C3; background: #2B59C3; color:#fdfdff; transition: 0.3s;} /* #0F1E4E */

sub, sup {
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
	}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
.copy {font-size: 0.722rem; font-weight: 500;}
