/* Typographic Grid Styling & Spacing */
html, .root {
  font-size: 18px;
  line-height: 29px;
}
body, .article {
  font-size: 1rem;
  line-height: 1.6111111rem;
  /* max-width: 560px; */
  margin: auto;

}
h1, .h1 {
  font-weight: 700;
  font-size: 4.2222222rem;
  line-height: 4.8333333rem;
  margin-top: 1.6111111rem;
  margin-bottom: 3.2222222rem;
}
h2, .h2 {
  font-size: 2.6111111rem;
  line-height: 3.2222222rem;
  margin-top: 1.6111111rem;
  margin-bottom: 1.6111111rem;
}
h3, .h3 {
  font-size: 1.6111111rem;
  line-height: 1.6111111rem;
  margin-top: 1.6111111rem;
  margin-bottom: 1.6111111rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.6111111rem;
  margin-top: 1.6111111rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.6111111rem;
  margin-top: 1.6111111rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.6111111rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
	/* Align Everything Else */
hr, .hr { border: 1px solid; margin: -1px 0;}
a, b, i, strong, em, small, code {line-height: 0;}
sub, sup {
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
	}
sup {top: -0.5em;}
sub {bottom: -0.25em;}